In [ ]:
##Task 1 : There are three different tables as given above. Please make three dataframe in python and save them as three .csv files.
## From Task 2 to Task 10, use the saved .csv files only.

In [2]:
import pandas as pd
import numpy as np

In [3]:
# Employee Data
employee_array = np.array([
    ['A001', 'John Alter', 'M', 'Paris', 25],
    ['A002', 'Alice Luxumberg', 'F', 'London', 27],
    ['A003', 'Tom Sabestine', 'M', 'Berlin', 29],
    ['A004', 'Nina Adgra', 'F', 'Newyork', 31],
    ['A005', 'Amy Johny', 'F', 'Madrid', 30]
])

df_employee = pd.DataFrame(employee_array, columns=['ID', 'Name', 'Gender', 'City', 'Age'])
df_employee['Age'] = df_employee['Age'].astype(int)

In [5]:
# Seniority Level
seniority_array = np.array([
    ['A001', 2],
    ['A002', 2],
    ['A003', 3],
    ['A004', 2],
    ['A005', 3]
])

df_seniority = pd.DataFrame(seniority_array, columns=['ID', 'Designation Level'])
df_seniority['Designation Level'] = df_seniority['Designation Level'].astype(int)

In [6]:
# Project Data
project_array = np.array([
    ['A001', 'Project 1', 1002000, 'Finished'],
    ['A002', 'Project 2', 2000000, 'Ongoing'],
    ['A003', 'Project 3', 4500000, 'Finished'],
    ['A004', 'Project 4', 5500000, 'Ongoing'],
    ['A005', 'Project 5', np.nan, 'Finished'],
    ['A002', 'Project 6', 680000, 'Failed'],
    ['A005', 'Project 7', 400000, 'Finished'],
    ['A003', 'Project 8', 350000, 'Failed'],
    ['A001', 'Project 9', np.nan, 'Ongoing'],
    ['A003', 'Project 10', 300000, 'Finished'],
    ['A001', 'Project 11', 2000000, 'Failed'],
    ['A004', 'Project 12', 1000000, 'Ongoing'],
    ['A004', 'Project 13', 3000000, 'Finished'],
    ['A005', 'Project 14', 200000, 'Finished']
])

df_projects = pd.DataFrame(project_array, columns=['ID', 'Project', 'Cost', 'Status'])
df_projects['Cost'] = pd.to_numeric(df_projects['Cost'], errors='coerce')

In [7]:
df_employee.to_csv('employee.csv', index=False)
df_seniority.to_csv('seniority.csv', index=False)
df_projects.to_csv('projects.csv', index=False)

In [9]:
df_employee,df_seniority,df_projects

(     ID             Name Gender     City  Age
 0  A001       John Alter      M    Paris   25
 1  A002  Alice Luxumberg      F   London   27
 2  A003    Tom Sabestine      M   Berlin   29
 3  A004       Nina Adgra      F  Newyork   31
 4  A005        Amy Johny      F   Madrid   30,
      ID  Designation Level
 0  A001                  2
 1  A002                  2
 2  A003                  3
 3  A004                  2
 4  A005                  3,
       ID     Project       Cost    Status
 0   A001   Project 1  1002000.0  Finished
 1   A002   Project 2  2000000.0   Ongoing
 2   A003   Project 3  4500000.0  Finished
 3   A004   Project 4  5500000.0   Ongoing
 4   A005   Project 5        NaN  Finished
 5   A002   Project 6   680000.0    Failed
 6   A005   Project 7   400000.0  Finished
 7   A003   Project 8   350000.0    Failed
 8   A001   Project 9        NaN   Ongoing
 9   A003  Project 10   300000.0  Finished
 10  A001  Project 11  2000000.0    Failed
 11  A004  Project 12  1000000.0   Ongoing
 12  A004  Project 13  3000000.0  Finished
 13  A005  Project 14   200000.0  Finished)

In [ ]:
##Task 2 : The cost column in the dataframe “Project” has some missing values. Your task is to compute these missing values. Replace the missing values by running average. You 
## should use the “For” loop for this task.

In [36]:


# Step 1: Load the projects.csv file
df_projects = pd.read_csv('projects.csv')

# Step 2: Convert 'Cost' to numpy array
costs = df_projects['Cost'].values

# Step 3: Initialize a list to store the filled values
filled_costs = []

# Step 4: Loop over the array to replace NaNs with running average
for i in range(len(costs)):
    if not np.isnan(costs[i]):
        filled_costs.append(costs[i])
    else:
        # Calculate average of previous non-NaN values
        if i == 0:
            filled_costs.append(0)  # or leave it as NaN if desired
        else:
            prev_values = filled_costs[:i]
            avg = np.mean(prev_values) if prev_values else 0
            filled_costs.append(avg)

# Step 5: Assign back to the DataFrame
df_projects['Cost'] = filled_costs

# Step 6: View updated DataFrame
print(df_projects)

# Optional: Save the cleaned file
df_projects.to_csv('projects_cleaned.csv', index=False)

      ID     Project       Cost    Status
0   A001   Project 1  1002000.0  Finished
1   A002   Project 2  2000000.0   Ongoing
2   A003   Project 3  4500000.0  Finished
3   A004   Project 4  5500000.0   Ongoing
4   A005   Project 5  3250500.0  Finished
5   A002   Project 6   680000.0    Failed
6   A005   Project 7   400000.0  Finished
7   A003   Project 8   350000.0    Failed
8   A001   Project 9  2210312.5   Ongoing
9   A003  Project 10   300000.0  Finished
10  A001  Project 11  2000000.0    Failed
11  A004  Project 12  1000000.0   Ongoing
12  A004  Project 13  3000000.0  Finished
13  A005  Project 14   200000.0  Finished

In [ ]:
## Task 3 : Split the name column in the Employee dataframe into two new columns “First Name”, and “Last Name” and remove the older “name” column.

In [12]:
import pandas as pd
import numpy as np

# Step 1: Load employee data
df_employee = pd.read_csv('employee.csv')

# Step 2: Use a loop to split names into two arrays
first_names = []
last_names = []

for name in df_employee['Name']:
    split_name = name.strip().split(" ", 1)  # Split only on first space
    first_names.append(split_name[0])
    last_names.append(split_name[1] if len(split_name) > 1 else "")

# Step 3: Assign new columns
df_employee['First Name'] = first_names
df_employee['Last Name'] = last_names

# Step 4: Drop the old 'Name' column
df_employee.drop('Name', axis=1, inplace=True)

# Step 5: Show updated DataFrame
print(df_employee)

# Step 6: Save the updated employee file (optional)
df_employee.to_csv('employee_cleaned.csv', index=False)

     ID Gender     City  Age First Name  Last Name
0  A001      M    Paris   25       John      Alter
1  A002      F   London   27      Alice  Luxumberg
2  A003      M   Berlin   29        Tom  Sabestine
3  A004      F  Newyork   31       Nina      Adgra
4  A005      F   Madrid   30        Amy      Johny

In [ ]:
## Task 4 : Join all three dataframes in one single dataframe. Name it “Final”

In [13]:
import pandas as pd
import numpy as np

# Step 1: Load all three CSVs
df_employee = pd.read_csv('employee_cleaned.csv')      # With First/Last Name
df_seniority = pd.read_csv('seniority.csv')            # Designation Level
df_projects = pd.read_csv('projects_cleaned.csv')      # Project info with fixed Cost

# Step 2: Merge employee + seniority on 'ID'
df_emp_seniority = pd.merge(df_employee, df_seniority, on='ID')

# Step 3: Merge the result with projects on 'ID'
Final = pd.merge(df_projects, df_emp_seniority, on='ID')

# Step 4: View and optionally save the Final DataFrame
print(Final)

# Save to CSV (optional)
Final.to_csv('final.csv', index=False)

      ID     Project       Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1002000.0  Finished      M    Paris   25       John
1   A002   Project 2  2000000.0   Ongoing      F   London   27      Alice
2   A003   Project 3  4500000.0  Finished      M   Berlin   29        Tom
3   A004   Project 4  5500000.0   Ongoing      F  Newyork   31       Nina
4   A005   Project 5  3250500.0  Finished      F   Madrid   30        Amy
5   A002   Project 6   680000.0    Failed      F   London   27      Alice
6   A005   Project 7   400000.0  Finished      F   Madrid   30        Amy
7   A003   Project 8   350000.0    Failed      M   Berlin   29        Tom
8   A001   Project 9  2210312.5   Ongoing      M    Paris   25       John
9   A003  Project 10   300000.0  Finished      M   Berlin   29        Tom
10  A001  Project 11  2000000.0    Failed      M    Paris   25       John
11  A004  Project 12  1000000.0   Ongoing      F  Newyork   31       Nina
12  A004  Project 13  3000000.0  Finished      F  Newyork   31       Nina
13  A005  Project 14   200000.0  Finished      F   Madrid   30        Amy

    Last Name  Designation Level
0       Alter                  2
1   Luxumberg                  2
2   Sabestine                  3
3       Adgra                  2
4       Johny                  3
5   Luxumberg                  2
6       Johny                  3
7   Sabestine                  3
8       Alter                  2
9   Sabestine                  3
10      Alter                  2
11      Adgra                  2
12      Adgra                  2
13      Johny                  3

In [ ]:
## Task 5 Add a new bonus column in the Final dataframe. Give a 5% bonus concerning project  cost only to employees who have finished the projects.

In [15]:
import pandas as pd
import numpy as np

# Step 1: Load the Final dataframe
Final = pd.read_csv('final.csv')

# Step 2: Initialize bonus list
bonus_list = []

# Step 3: Loop to calculate bonus
for i in range(len(Final)):
    status = Final.loc[i, 'Status']
    cost = Final.loc[i, 'Cost']
    
    if status == 'Finished':
        bonus = 0.05 * cost
    else:
        bonus = 0
    bonus_list.append(bonus)

# Step 4: Add the Bonus column
Final['Bonus'] = bonus_list

# Step 5: View and optionally save the updated DataFrame
print(Final)

# Optional: Save it
Final.to_csv('final_with_bonus.csv', index=False)

      ID     Project       Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1002000.0  Finished      M    Paris   25       John
1   A002   Project 2  2000000.0   Ongoing      F   London   27      Alice
2   A003   Project 3  4500000.0  Finished      M   Berlin   29        Tom
3   A004   Project 4  5500000.0   Ongoing      F  Newyork   31       Nina
4   A005   Project 5  3250500.0  Finished      F   Madrid   30        Amy
5   A002   Project 6   680000.0    Failed      F   London   27      Alice
6   A005   Project 7   400000.0  Finished      F   Madrid   30        Amy
7   A003   Project 8   350000.0    Failed      M   Berlin   29        Tom
8   A001   Project 9  2210312.5   Ongoing      M    Paris   25       John
9   A003  Project 10   300000.0  Finished      M   Berlin   29        Tom
10  A001  Project 11  2000000.0    Failed      M    Paris   25       John
11  A004  Project 12  1000000.0   Ongoing      F  Newyork   31       Nina
12  A004  Project 13  3000000.0  Finished      F  Newyork   31       Nina
13  A005  Project 14   200000.0  Finished      F   Madrid   30        Amy

    Last Name  Designation Level     Bonus
0       Alter                  2   50100.0
1   Luxumberg                  2       0.0
2   Sabestine                  3  225000.0
3       Adgra                  2       0.0
4       Johny                  3  162525.0
5   Luxumberg                  2       0.0
6       Johny                  3   20000.0
7   Sabestine                  3       0.0
8       Alter                  2       0.0
9   Sabestine                  3   15000.0
10      Alter                  2       0.0
11      Adgra                  2       0.0
12      Adgra                  2  150000.0
13      Johny                  3   10000.0

In [ ]:
## Task 6  Demote the designation level by 1, whose projects have status “fail”. Delete the  employees record whose designation level is above 4.

In [25]:
import pandas as pd
import numpy as np

# Step 1: Load the final DataFrame with bonus
Final = pd.read_csv('final_with_bonus.csv')

# Step 2: Create a copy of Designation Level for manipulation
Final['Updated Designation Level'] = Final['Designation Level']

# Step 3: Loop to demote designation for failed projects
for i in range(len(Final)):
    if Final.loc[i, 'Status'] == 'Failed':
        Final.loc[i, 'Updated Designation Level'] += 1  # Demote = increase numeric level

# Step 4: Filter out records where designation level > 4 (ineligible)
Final = Final[Final['Updated Designation Level'] < 4]

# Step 5: (Optional) Drop the old designation level and rename the updated one
Final.drop(columns=['Designation Level'], inplace=True)
Final.rename(columns={'Updated Designation Level': 'Designation Level'}, inplace=True)

# Step 6: View the cleaned DataFrame
print(Final)
# Optional: Save to new CSV
Final.to_csv('final_cleaned.csv', index=False)

      ID     Project       Cost    Status Gender     City  Age First Name  \
0   A001   Project 1  1002000.0  Finished      M    Paris   25       John
1   A002   Project 2  2000000.0   Ongoing      F   London   27      Alice
2   A003   Project 3  4500000.0  Finished      M   Berlin   29        Tom
3   A004   Project 4  5500000.0   Ongoing      F  Newyork   31       Nina
4   A005   Project 5  3250500.0  Finished      F   Madrid   30        Amy
5   A002   Project 6   680000.0    Failed      F   London   27      Alice
6   A005   Project 7   400000.0  Finished      F   Madrid   30        Amy
8   A001   Project 9  2210312.5   Ongoing      M    Paris   25       John
9   A003  Project 10   300000.0  Finished      M   Berlin   29        Tom
10  A001  Project 11  2000000.0    Failed      M    Paris   25       John
11  A004  Project 12  1000000.0   Ongoing      F  Newyork   31       Nina
12  A004  Project 13  3000000.0  Finished      F  Newyork   31       Nina
13  A005  Project 14   200000.0  Finished      F   Madrid   30        Amy

    Last Name     Bonus  Designation Level
0       Alter   50100.0                  2
1   Luxumberg       0.0                  2
2   Sabestine  225000.0                  3
3       Adgra       0.0                  2
4       Johny  162525.0                  3
5   Luxumberg       0.0                  3
6       Johny   20000.0                  3
8       Alter       0.0                  2
9   Sabestine   15000.0                  3
10      Alter       0.0                  3
11      Adgra       0.0                  2
12      Adgra  150000.0                  2
13      Johny   10000.0                  3

In [ ]:
## Task 7 Add “Mr.” and “Mrs.” to the first name column and drop the gender column.

In [27]:
##Step 1: Load the latest cleaned file
Final = pd.read_csv('final_cleaned.csv')

# Step 2: Initialize a new list to hold modified first names
titled_first_names = []

# Step 3: Loop to assign titles based on gender
for i in range(len(Final)):
    gender = Final.loc[i, 'Gender']
    first_name = Final.loc[i, 'First Name']
    
    if gender == 'M':
        titled_first_names.append("Mr. " + first_name)
    elif gender == 'F':
        titled_first_names.append("Mrs. " + first_name)
    else:
        titled_first_names.append(first_name)  # fallback for unknown

# Step 4: Assign back to the DataFrame
Final['First Name'] = titled_first_names

# Step 5: Drop Gender column
Final.drop(columns=['Gender'], inplace=True)

In [29]:
# Step 6: View and save
print(Final)

# Optional: Save
Final.to_csv('final_with_titles.csv', index=False)

      ID     Project       Cost    Status     City  Age  First Name  \
0   A001   Project 1  1002000.0  Finished    Paris   25    Mr. John
1   A002   Project 2  2000000.0   Ongoing   London   27  Mrs. Alice
2   A003   Project 3  4500000.0  Finished   Berlin   29     Mr. Tom
3   A004   Project 4  5500000.0   Ongoing  Newyork   31   Mrs. Nina
4   A005   Project 5  3250500.0  Finished   Madrid   30    Mrs. Amy
5   A002   Project 6   680000.0    Failed   London   27  Mrs. Alice
6   A005   Project 7   400000.0  Finished   Madrid   30    Mrs. Amy
7   A001   Project 9  2210312.5   Ongoing    Paris   25    Mr. John
8   A003  Project 10   300000.0  Finished   Berlin   29     Mr. Tom
9   A001  Project 11  2000000.0    Failed    Paris   25    Mr. John
10  A004  Project 12  1000000.0   Ongoing  Newyork   31   Mrs. Nina
11  A004  Project 13  3000000.0  Finished  Newyork   31   Mrs. Nina
12  A005  Project 14   200000.0  Finished   Madrid   30    Mrs. Amy

    Last Name     Bonus  Designation Level
0       Alter   50100.0                  2
1   Luxumberg       0.0                  2
2   Sabestine  225000.0                  3
3       Adgra       0.0                  2
4       Johny  162525.0                  3
5   Luxumberg       0.0                  3
6       Johny   20000.0                  3
7       Alter       0.0                  2
8   Sabestine   15000.0                  3
9       Alter       0.0                  3
10      Adgra       0.0                  2
11      Adgra  150000.0                  2
12      Johny   10000.0                  3

In [ ]:
## Task 8 Promote designation level by 1 for the employees whose age is more than 29 years using IF condition.

In [30]:

# Step 1: Load the file with titles
Final = pd.read_csv('final_with_titles.csv')

# Step 2: Loop through to apply promotion
for i in range(len(Final)):
    age = Final.loc[i, 'Age']
    level = Final.loc[i, 'Designation Level']
    
    # Step 3: Apply promotion condition
    if age > 29 and level > 1:
        Final.loc[i, 'Designation Level'] = level - 1

In [32]:
# Step 4: View result
print(Final)
# Step 5: Save the updated version
Final.to_csv('final_promoted.csv', index=False)

      ID     Project       Cost    Status     City  Age  First Name  \
0   A001   Project 1  1002000.0  Finished    Paris   25    Mr. John
1   A002   Project 2  2000000.0   Ongoing   London   27  Mrs. Alice
2   A003   Project 3  4500000.0  Finished   Berlin   29     Mr. Tom
3   A004   Project 4  5500000.0   Ongoing  Newyork   31   Mrs. Nina
4   A005   Project 5  3250500.0  Finished   Madrid   30    Mrs. Amy
5   A002   Project 6   680000.0    Failed   London   27  Mrs. Alice
6   A005   Project 7   400000.0  Finished   Madrid   30    Mrs. Amy
7   A001   Project 9  2210312.5   Ongoing    Paris   25    Mr. John
8   A003  Project 10   300000.0  Finished   Berlin   29     Mr. Tom
9   A001  Project 11  2000000.0    Failed    Paris   25    Mr. John
10  A004  Project 12  1000000.0   Ongoing  Newyork   31   Mrs. Nina
11  A004  Project 13  3000000.0  Finished  Newyork   31   Mrs. Nina
12  A005  Project 14   200000.0  Finished   Madrid   30    Mrs. Amy

    Last Name     Bonus  Designation Level
0       Alter   50100.0                  2
1   Luxumberg       0.0                  2
2   Sabestine  225000.0                  3
3       Adgra       0.0                  1
4       Johny  162525.0                  2
5   Luxumberg       0.0                  3
6       Johny   20000.0                  2
7       Alter       0.0                  2
8   Sabestine   15000.0                  3
9       Alter       0.0                  3
10      Adgra       0.0                  1
11      Adgra  150000.0                  1
12      Johny   10000.0                  2

In [ ]:
## Task 9 Add the cost of all projects for each Employee and save it in new dataframe “TotalProjCost” with three columns ID, First Name, and Total cost

In [34]:

# Step 1: Load the promoted data
Final = pd.read_csv('final_promoted.csv')

# Step 2: Get unique employee IDs and first names
unique_ids = Final['ID'].unique()

# Step 3: Initialize list to store total cost per employee
total_cost_data = []

# Step 4: Loop to calculate total project cost per employee
for emp_id in unique_ids:
    emp_data = Final[Final['ID'] == emp_id]
    total_cost = emp_data['Cost'].sum()
    first_name = emp_data.iloc[0]['First Name']
    
    total_cost_data.append([emp_id, first_name, total_cost])

# Step 5: Create new DataFrame
TotalProjCost = pd.DataFrame(total_cost_data, columns=['ID', 'First Name', 'Total Cost'])

# Step 6: View and save
print(TotalProjCost)

# Optional: Save to CSV
TotalProjCost.to_csv('total_project_cost.csv', index=False)

     ID  First Name  Total Cost
0  A001    Mr. John   5212312.5
1  A002  Mrs. Alice   2680000.0
2  A003     Mr. Tom   4800000.0
3  A004   Mrs. Nina   9500000.0
4  A005    Mrs. Amy   3850500.0

In [37]:
## Print all the employee details whose city name contains the letter “o” in it.

In [35]:

# Step 1: Load the latest promoted dataset
Final = pd.read_csv('final_promoted.csv')

# Step 2: Create an empty list to store matching rows
matching_rows = []

# Step 3: Loop to check if 'o' is in the city name
for i in range(len(Final)):
    city = Final.loc[i, 'City']
    if 'o' in city.lower():  # case-insensitive match
        matching_rows.append(Final.loc[i])

# Step 4: Create new DataFrame from matched rows
EmployeesWithO = pd.DataFrame(matching_rows)

# Step 5: View result
print(EmployeesWithO)

      ID     Project       Cost    Status     City  Age  First Name  \
1   A002   Project 2  2000000.0   Ongoing   London   27  Mrs. Alice
3   A004   Project 4  5500000.0   Ongoing  Newyork   31   Mrs. Nina
5   A002   Project 6   680000.0    Failed   London   27  Mrs. Alice
10  A004  Project 12  1000000.0   Ongoing  Newyork   31   Mrs. Nina
11  A004  Project 13  3000000.0  Finished  Newyork   31   Mrs. Nina

    Last Name     Bonus  Designation Level
1   Luxumberg       0.0                  2
3       Adgra       0.0                  1
5   Luxumberg       0.0                  3
10      Adgra       0.0                  1
11      Adgra  150000.0                  1